## PANDAS - practice 
### Name: Swaroop Srisailam-194224

#### 1. How to import pandas and check the version?

In [2]:
import numpy as np 
import pandas as pd
print(pd.__version__)

1.4.3

#### 2. How to create a series from a list, numpy array and dict?

In [3]:
mylist = list('Swaroop')
myarr = np.arange(7)
mydict = dict(zip(mylist, myarr))

s1 = pd.Series(mylist)
s2 = pd.Series(myarr)
s3 = pd.Series(mydict)
print(s3)

S    0
w    1
a    2
r    3
o    5
p    6
dtype: int32

#### 4. How to combine many series to form a dataframe?

In [4]:
s1 = pd.Series(list('Sai-Swaroop'))
s2 = pd.Series(np.arange(11))

df = pd.concat([s1, s2], axis=1)
df

    0   1
0   S   0
1   a   1
2   i   2
3   -   3
4   S   4
5   w   5
6   a   6
7   r   7
8   o   8
9   o   9
10  p  10

#### 5. How to assign name to the series’ index?

In [5]:
s = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))

s.name = 'alphabet'
s.head()

0    a
1    b
2    c
3    e
4    d
Name: alphabet, dtype: object

#### 6. How to get the items of series A not present in series B?

In [6]:
s1 = pd.Series([1, 2, 3, 4, 5])
s2 = pd.Series([4, 5, 6, 7, 8])

s1[~s1.isin(s2)]

0    1
1    2
2    3
dtype: int64

#### 7. How to get the items not common to both series A and series B?

In [7]:
s1 = pd.Series([1, 2, 3, 4, 5])
s2 = pd.Series([4, 5, 6, 7, 8])


s_u = pd.Series(np.union1d(s1, s2))  
s_i = pd.Series(np.intersect1d(s1, s2))  
s_u[~s_u.isin(s_i)]

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

#### 8. How to get the minimum, 25th percentile, median, 75th, and max of a numeric series?

In [8]:
s = pd.Series(np.random.normal(10, 5, 25))

np.percentile(s,q=[0,25,50,75,100])

array([-7.65000866,  7.84465106, 10.36487684, 14.16307934, 20.20598977])

#### 9. How to get frequency counts of unique items of a series?

In [9]:
s= pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
s.value_counts()

g    5
c    5
h    5
b    4
d    4
e    3
a    2
f    2
dtype: int64

#### 10. How to keep only top 2 most frequent values as it is and replace everything else as ‘Other’?

In [11]:
np.random.RandomState(100)
s = pd.Series(np.random.randint(1, 5, [12]))

print("Top 2 Freq:", s.value_counts())
s[~s.isin(s.value_counts().index[:2])] = 'Other'
print(s)

Top 2 Freq: 1    4
4    3
3    3
2    2
dtype: int64
0     Other
1     Other
2         4
3         4
4         4
5     Other
6         1
7     Other
8         1
9         1
10        1
11    Other
dtype: object

#### 11. How to bin a numeric series to 10 groups of equal size?

In [12]:
s = pd.Series(np.random.random(20))

pd.qcut(s, q=[0, .10, .20, .3, .4, .5, .6, .7, .8, .9, 1], 
        labels=['1st', '2nd', '3rd', '4th', '5th', '6th', '7th', '8th', '9th', '10th']).head()

0    10th
1     7th
2     4th
3     9th
4     3rd
dtype: category
Categories (10, object): ['1st' < '2nd' < '3rd' < '4th' ... '7th' < '8th' < '9th' < '10th']

#### 12. How to convert a numpy array to a dataframe of given shape?

In [13]:
s = pd.Series(np.random.randint(1, 10, 35))
d = pd.DataFrame(s.values.reshape(7,5))
print(d)

   0  1  2  3  4
0  2  8  4  9  3
1  3  6  9  9  2
2  7  2  4  5  6
3  1  9  1  9  6
4  6  7  6  7  8
5  8  1  6  6  3
6  3  1  6  8  9

#### 13. How to find the positions of numbers that are multiples of 3 from a series?

In [15]:
ser = pd.Series([1,1,2, 2, 3,3,3, 4, 5])
for i in ser:
    if(i%3==0):
        print(ser[ser==i].index[0])

4
4
4

#### 14. How to extract items at given positions from a series

In [16]:
s = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]
s.take(pos)

0     a
4     e
8     i
14    o
20    u
dtype: object

#### 15. How to stack two series vertically and horizontally ?

In [17]:
s1 = pd.Series(range(5))
s2 = pd.Series(list('abcde'))
s1.append(s2)

d = pd.concat([s1, s2], axis=1)
print(d)

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

C:\Users\Msc 1\AppData\Local\Temp\ipykernel_5208\2201506811.py:3: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s1.append(s2)

#### 16. How to get the positions of items of series A in another series B?

In [18]:
s1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
s2 = pd.Series([1, 3, 10, 13])
[pd.Index(s1).get_loc(i) for i in s2]

[5, 4, 0, 8]

#### 17. How to compute the mean squared error on a truth and predicted series?

In [19]:
truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)

a=(truth-pred)**2
np.mean(a)

0.23527223676423564

#### 18. How to convert the first character of each element in a series to uppercase?

In [20]:
s = pd.Series(['how', 'to', 'kick', 'ass?'])
s.map(lambda x: x.title())

0     How
1      To
2    Kick
3    Ass?
dtype: object

#### 19. How to calculate the number of characters in each word in a series?

In [21]:
s.map(lambda x: len(x))

0    3
1    2
2    4
3    4
dtype: int64

#### 20. How to compute difference of differences between consequtive numbers of a series?

In [22]:
s1 = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])

print(s1.diff().tolist())
print(s1.diff().diff().tolist())

[nan, 2.0, 3.0, 4.0, 5.0, 6.0, 6.0, 8.0]
[nan, nan, 1.0, 1.0, 1.0, 1.0, 0.0, 2.0]

#### 21. How to convert a series of date-strings to a timeseries?

In [23]:
s = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

pd.to_datetime(s)

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

#### 22. How to get the day of month, week number, day of year and day of week from a series of date strings?

In [24]:
from dateutil.parser import parse
s_ts = s.map(lambda x: parse(x))

# day of month
print("Date: ", s_ts.dt.day.tolist())

# week number
print("Week number: ", s_ts.dt.weekofyear.tolist())

# day of year
print("Day number of year: ", s_ts.dt.dayofyear.tolist())

# day of week
print("Day of week: ", s_ts.dt.weekday.tolist())

Date:  [1, 2, 3, 4, 5, 6]
Week number:  [53, 5, 9, 14, 19, 23]
Day number of year:  [1, 33, 63, 94, 125, 157]
Day of week:  [4, 2, 5, 3, 0, 5]

C:\Users\Msc 1\AppData\Local\Temp\ipykernel_5208\2218213592.py:8: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  print("Week number: ", s_ts.dt.weekofyear.tolist())

#### 23. How to convert year-month string to dates corresponding to the 4th day of the month?

In [25]:
s = pd.Series(['Jan 2010', 'Feb 2011', 'Mar 2012'])

s.map(lambda x: parse('04 ' + x))

0   2010-01-04
1   2011-02-04
2   2012-03-04
dtype: datetime64[ns]

#### 24. How to filter words that contain atleast 2 vowels from a series?

In [26]:
s = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])

from collections import Counter
mask = s.map(lambda x: sum([Counter(x.lower()).get(i, 0) for i in list('aeiou')]) >= 2)
s[mask]

0     Apple
1    Orange
4     Money
dtype: object

#### 25. How to filter valid emails from a series?

In [27]:
import re
emails = pd.Series(['buying books at amazom.com', 'rameses@egypt.com', 'matt@t.co', 'narendra@modi.com'])
pattern ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'
emails.str.findall(pattern, flags=re.IGNORECASE)

0                     []
1    [rameses@egypt.com]
2            [matt@t.co]
3    [narendra@modi.com]
dtype: object

#### 26. How to get the mean of a series grouped by another series?

In [28]:
fruit = pd.Series(np.random.choice(['apple', 'banana', 'carrot'], 10))
weights = pd.Series(np.linspace(1, 10, 10))
weights.groupby(fruit).mean()

apple     6.0
banana    5.0
carrot    5.4
dtype: float64

In [29]:
s= pd.Series([2, 10, 3, 4, 9, 10, 2, 7, 3])
dd = np.diff(np.sign(np.diff(s)))
peak_locs = np.where(dd == -2)[0] + 1
peak_locs

array([1, 5, 7], dtype=int64)

#### 29. How to replace missing spaces in a string with the least frequent character?

In [30]:
string = 'dbc deb abed gade'
s= pd.Series(list(string))
freq = s.value_counts()
print(freq)
least_freq = freq.dropna().index[-1]
"".join(s.replace(' ', least_freq))

d    4
b    3
     3
e    3
a    2
c    1
g    1
dtype: int64

'dbcgdebgabedggade'

#### 30. How to create a TimeSeries starting ‘2000-01-01’ and 10 weekends (saturdays) after that having random numbers as values?

In [31]:
d = pd.Series(np.random.randint(1,10,10), pd.date_range('2000-01-01', periods=10, freq='W-SAT'))
print(d)

2000-01-01    8
2000-01-08    2
2000-01-15    4
2000-01-22    2
2000-01-29    2
2000-02-05    9
2000-02-12    8
2000-02-19    2
2000-02-26    2
2000-03-04    5
Freq: W-SAT, dtype: int32

#### 31. How to fill an intermittent time series so all missing dates show up with values of previous non-missing date?

In [32]:
d = pd.Series([1,10,3,np.nan], index=pd.to_datetime(['2000-01-01', '2000-01-03', '2000-01-06', '2000-01-08']))

d.resample('D').ffill()

2000-01-01     1.0
2000-01-02     1.0
2000-01-03    10.0
2000-01-04    10.0
2000-01-05    10.0
2000-01-06     3.0
2000-01-07     3.0
2000-01-08     NaN
Freq: D, dtype: float64

#### 32. How to compute the autocorrelations of a numeric series?

In [33]:
s = pd.Series(np.arange(20) + np.random.normal(1, 10, 20))

autocorrelations = [s.autocorr(i).round(2) for i in range(11)]
print(autocorrelations[1:])
print('Lag having highest correlation: ', np.argmax(np.abs(autocorrelations[1:]))+1)

[-0.08, 0.23, -0.49, -0.04, 0.16, 0.2, 0.25, -0.17, 0.12, -0.52]
Lag having highest correlation:  10

#### 33. How to import only every nth row from a csv file to create a dataframe?

In [34]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv', chunksize=50)
df2 = pd.concat([chunk.iloc[0] for chunk in df], axis=1)
df2 = df2.transpose()

df2.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
50,0.08873,21.0,5.64,0.0,0.439,5.963,45.7,6.8147,4.0,243.0,16.8,395.56,13.45,19.7
100,0.14866,0.0,8.56,0.0,0.520,6.727,79.9,2.7778,5.0,384.0,20.9,394.76,9.42,27.5
150,1.65660,0.0,19.58,0.0,0.871,6.122,97.3,1.6180,5.0,403.0,14.7,372.80,14.10,21.5
200,0.01778,95.0,1.47,0.0,0.403,7.135,13.9,7.6534,3.0,402.0,17.0,384.30,4.45,32.9

#### 34. How to change column values when importing csv to a dataframe?

In [35]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv', 
                 converters={'medv': lambda x: 'High' if float(x) > 25 else 'Low'})
df.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,Low
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,Low
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,High
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,High
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,High

#### 35. How to create a dataframe with rows as strides from a given series?

In [36]:
d = pd.Series(range(15))

def gen_strides(a, stride_len=5, window_len=5):
    n_strides = ((a.size-window_len)//stride_len) + 1
    return np.array([a[s:(s+window_len)] for s in np.arange(0, a.size, stride_len)[:n_strides]])

gen_strides(d, stride_len=2, window_len=4)

array([[ 0,  1,  2,  3],
       [ 2,  3,  4,  5],
       [ 4,  5,  6,  7],
       [ 6,  7,  8,  9],
       [ 8,  9, 10, 11],
       [10, 11, 12, 13]], dtype=int64)

#### 36. How to import only specified columns from a csv file?

In [37]:
d1 = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv', usecols=['nox', 'tax'])
print(d1.head())

     nox  tax
0  0.538  296
1  0.469  242
2  0.469  242
3  0.458  222
4  0.458  222

#### 37. How to get the nrows, ncolumns, datatype, summary stats of each column of a dataframe? Also get the array and list equivalent.

In [38]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')


#  number of rows and columns
print(f"The number of rows ands columns: ",df.shape)

# datatypes
print(df.dtypes)

# how many columns under each dtype
print(df.dtypes.value_counts())
print(df.dtypes.value_counts())

# summary statistics
df_stats = df.describe()

# numpy array 
df_arr = df.values

# list
df_list = df.values.tolist()

The number of rows ands columns:  (93, 27)
Manufacturer           object
Model                  object
Type                   object
Min.Price             float64
Price                 float64
Max.Price             float64
MPG.city              float64
MPG.highway           float64
AirBags                object
DriveTrain             object
Cylinders              object
EngineSize            float64
Horsepower            float64
RPM                   float64
Rev.per.mile          float64
Man.trans.avail        object
Fuel.tank.capacity    float64
Passengers            float64
Length                float64
Wheelbase             float64
Width                 float64
Turn.circle           float64
Rear.seat.room        float64
Luggage.room          float64
Weight                float64
Origin                 object
Make                   object
dtype: object
float64    18
object      9
dtype: int64
float64    18
object      9
dtype: int64

#### 38. How to extract the row and column number of a particular cell with given criterion?

In [39]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

# Get Manufacturer with highest price
df.loc[df.Price == np.max(df.Price), ['Manufacturer', 'Model', 'Type']]

# Get Row and Column number
row, col = np.where(df.values == np.max(df.Price))

# Get the value
df.iat[row[0], col[0]]
df.iloc[row[0], col[0]]

61.9

#### 39. How to rename a specific columns in a dataframe?

In [40]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
df=df.rename(columns = {'Type':'CarType'})
df=df.rename(columns ={'EngineSize':'Engine_size'})
print(f"Column Names:",df.columns)

Column Names: Index(['Manufacturer', 'Model', 'CarType', 'Min.Price', 'Price', 'Max.Price',
       'MPG.city', 'MPG.highway', 'AirBags', 'DriveTrain', 'Cylinders',
       'Engine_size', 'Horsepower', 'RPM', 'Rev.per.mile', 'Man.trans.avail',
       'Fuel.tank.capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn.circle', 'Rear.seat.room', 'Luggage.room', 'Weight', 'Origin',
       'Make'],
      dtype='object')

#### 40. How to check if a dataframe has any missing values?

In [41]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

df.isnull().values.any()

True

#### 41. How to count the number of missing values in each column?

In [42]:
missing_values=df.apply(lambda x: x.isnull().sum())
print(missing_values)
print(f"Maximum nan values present in ",missing_values.iloc[missing_values.values==missing_values.max()])

Manufacturer           4
Model                  1
Type                   3
Min.Price              7
Price                  2
Max.Price              5
MPG.city               9
MPG.highway            2
AirBags                6
DriveTrain             7
Cylinders              5
EngineSize             2
Horsepower             7
RPM                    3
Rev.per.mile           6
Man.trans.avail        5
Fuel.tank.capacity     8
Passengers             2
Length                 4
Wheelbase              1
Width                  6
Turn.circle            5
Rear.seat.room         4
Luggage.room          19
Weight                 7
Origin                 5
Make                   3
dtype: int64
Maximum nan values present in  Luggage.room    19
dtype: int64

#### 42. How to replace missing values of multiple numeric columns with the mean?

In [43]:
df1 = df[['Min.Price', 'Max.Price']] = df[['Min.Price', 'Max.Price']].apply(lambda x: x.fillna(x.mean()))
df1.head()

   Min.Price  Max.Price
0  12.900000  18.800000
1  29.200000  38.700000
2  25.900000  32.300000
3  17.118605  44.600000
4  17.118605  21.459091

 #### 43. How to use apply function on existing columns with global variables as additional arguments?

In [44]:
d = {'Min.Price': np.nanmean, 'Max.Price': np.nanmedian}
df[['Min.Price', 'Max.Price']] = df[['Min.Price', 'Max.Price']].apply(lambda x, d: x.fillna(d[x.name](x)), args=(d, ))

#### 44. How to select a specific column from a dataframe as a dataframe instead of a series?

In [45]:
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))

type(df.a)
type(df['a'])
type(df.loc[:, 'a'])
type(df.iloc[:, 1])

pandas.core.series.Series

#### 45. How to change the order of columns of a dataframe?


    1.In df, interchange columns 'a' and 'c'.

    2.Create a generic function to interchange two columns, without hardcoding column names.

    3.Sort the columns in reverse alphabetical order, that is colume 'e' first through column 'a' last.

In [46]:
# Solution Q1
df[list('cbade')]

# Solution Q2 - No hard coding
def switch_columns(df, col1=None, col2=None):
    colnames = df.columns.tolist()
    i1, i2 = colnames.index(col1), colnames.index(col2)
    colnames[i2], colnames[i1] = colnames[i1], colnames[i2]
    return df[colnames]

df1 = switch_columns(df, 'a', 'c')

# Solution Q3
df[sorted(df.columns)]
# or
df.sort_index(axis=1, ascending=False, inplace=True)

#### 46. How to set the number of rows and columns displayed in the output?

In [47]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
pd.set_option('display.max_columns', 10)
pd.set_option('display.max_rows', 10)

#### 47. How to format or suppress scientific notations in a pandas dataframe?

In [48]:
df = pd.DataFrame(np.random.random(4)**10, columns=['random'])

df.round(4)

   random
0  0.0029
1  0.6166
2  0.1706
3  0.0009

#### 48. How to format all the values in a dataframe as percentages?

In [49]:
df = pd.DataFrame(np.random.random(4), columns=['random'])

out = df.style.format({
    'random': '{0:.2%}'.format,
})

#### 49. How to filter every nth row in a dataframe?

In [50]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

print(df.iloc[::20, :][['Manufacturer', 'Model', 'Type']])

   Manufacturer    Model     Type
0         Acura  Integra    Small
20     Chrysler  LeBaron  Compact
40        Honda  Prelude   Sporty
60      Mercury   Cougar  Midsize
80       Subaru   Loyale    Small

#### 50. How to create a primary key index by combining relevant columns?

In [51]:
df[['Manufacturer', 'Model', 'Type']] = df[['Manufacturer', 'Model', 'Type']].fillna('missing')
df.index = df.Manufacturer + '_' + df.Model + '_' + df.Type
print(df.index.is_unique)

True

# `THE END`